
.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 56px);
    height: 100%;
    background: #fff;
    z-index: 13;
    transform: translate3d(-100%, 0, 0);
    visibility: hidden; 

    &.is-open {
        visibility: visible;
        animation-name: slideIn;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }

    &.is-closed {
        visibility: visible;
        pointer-events: none;
        animation-name: slideOut;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }

    &_heading {
        text-align: center;
        display: block;
        padding: 3rem 1rem;

        &--first {
            font-weight: 300;
        }
    }
}