/* Base: HTML Elements
============================================================================ */

html,
body,
#main,
.container {
    height: 100%;
}

button {
    background: none;
    border: none;
    padding: 0;
}